<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <title>Document</title>
</head>
<body>
    <div class='container login-container'>
        <div class="card">
            <div class='card-content'>
                <h1>To Do List</h1>
    <ul>
        <% for(let i = 0; i < zebra.length; i++) { %>
            <li class="todoItem">
                <% if(zebra[i].completed === true) {%>
                    <span class="completed"><%= zebra[i].todo %></span>
                    <% }else{ %>
                <span><%= zebra[i].todo %></span>
                <% } %>
                <span class="del"> Delete </span>
            </li>
        <% } %>
    </ul>
        <h2>Things left to be done: <%= left %></h2>
            <form action="/createTodo" method="POST" id='entry'>
                <input type="text" placeholder="Enter List Item Here" name="todoItem" id='entryLine'>
                <input type="submit">
                <script type="text/javascript">document.entry.entryLine.focus();</script>
            </form>
        </div>
    </div>
</div>

    <script src='/js/main.js'></script>
</body>
</html>